<%= javascript_pack_tag 'todaysmenus' %>
<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3 mt-2">
    <%= render "shared/flash_messages" %>
    <div class="page-title text-center mt-2">今日の献立</div>
    <div>
      <% if @todaysmenus.present? %>
        <table class="table table-hover">
          <tbody>
            <%= render partial: "todaysmenu", collection: @todaysmenus, as: "todaysmenu" %>
          </tbody>
        </table>
        <!-- TODO: 料理が完了するformを作成する-->
        <div class="btn-cooked-when">
        <%= form_with(url: cooked_done_todaysmenus_path, local: true) do |f| %>
        <div class="form-group row">
          <div class="col-sm-12 btn-group" data-toggle="buttons">
            <label class="btn btn-outline-warning active">
              <%= f.radio_button :cooked_when, 1, {checked: true} %>朝
            </label>
            <label class="btn btn-outline-warning">
              <%= f.radio_button :cooked_when, 2, {} %>昼
            </label>
            <label class="btn btn-outline-warning">
              <%= f.radio_button :cooked_when, 3, {} %>夜
            </label>
          </div>
            <%= f.submit "Done!!",class: "btn btn-warning btn-block" %>
        </div>
        <% end %>
        </div>
      <% else %>
          <div class="text-center search-btn">
            <p class="text-muted no-todaysmenus-description">今日の献立はまだありません<br>追加しましょう!!</p>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-12">
  <p class="text-center">
    <%= link_to favorites_path do %>
      <button class="btn btn-success">お気に入りへ</button>
    <% end %>
  </p>
  <p class="text-center">
    <%= link_to cookinghistorys_path do %>
    <button class="btn btn-success">料理履歴へ</button>
    <% end %>
  </p>
  <p class="text-center">
    <%= link_to root_path do %>
    <button class="btn btn-success">トップページへ</button>
    <% end %>
  </p>
</div>
<% content_for(:html_title) { '今日の献立' } %>
