<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center mt-3">
        <div class="page-title m-0 d-inline">食材の追加</div>
        <div>(<%= link_to @cuisine.name, managecuisine_path(@cuisine) %>)</div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 offset-md-3">
        <%= form_with(model: @foodstuff, url: manageownfoodstuffs_path, method: :post, local: true) do |form| %>
            <%= render 'layouts/flash_message' %>
            <%= render 'shared/error_messages', { resource: @foodstuff } if @foodstuff.errors.any? %>
            <%= render 'form', { form: form, cuisine: @cuisine } %>
            <div class="col-10 offset-1">
              <div class="text-center my-2">
                <%= link_to '未登録の材料を登録する', new_userrawmaterial_path, remote: true, class: 'text-muted', data: { toggle: 'modal', target: '#rawmaterialModal' } %>
              </div>
            <%= form.submit '追加する', class: 'btn btn-success btn-block' %>
            </div>
            <div class="col-10 offset-1 mt-2">
              <%= link_to '手順登録へ', new_manageownprocedure_path(cuisine_id: @cuisine.id), class: 'btn btn-outline-secondary btn-block' %>
            </div>
        <% end %>
        <!-- foodstuffs and procedure list -->
        <div class="mt-2">
          <ul class="nav nav-tabs nav-fill" role="tablist" id="fp-tab">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" role="tab" data-toggle="tab" href="#tab1" id="tab-foodstuff">食材</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" role="tab" data-toggle="tab" href="#tab2" id="tab-procedure">手順</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab1">
            <% if @foodstuffs.present? %>
              <table id="table-sortable-procedure" class="table table-bordered table-hover mt-3">
                <tbody>
                  <%= render partial: 'foodstuff', collection: @foodstuffs, as: 'foodstuff' %>
                </tbody>
              </table>
            <% else %>
              <div class="text-center mt-3">
                <p>まだ登録がありません</p>
              </div>
            <% end %>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab2">
              <div class="procedure-list">
                <% @procedures.each_with_index do |pd, idx| %>
                  <div class="row mt-3">
                    <div class="col-2 offset-1 d-flex justify-content-end align-items-center">
                      <div class="foodstuff-number">
                          <p><%= idx + 1 %>.</p>
                      </div>
                    </div>
                    <div class="col-8 d-flex justify-content-start align-items-center">
                      <div class="foodstuff-name">
                          <p><%= pd.cooking_detail %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <%= link_to 'もどる', 'javascript:history.back()', class: 'text-center text-black-50' %>
      </div>
    </div>
  </div>
</div>

<div id="rawmaterialModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  </div>
</div>
