<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h2 {
      color: #e7454a;
    }
    p hr {
      color: #2d2a24;
    }
  </style>
</head>
<body>
  <p><%= @rawmaterial.name %> が追加されました。</p>
  <p>
    【データの詳細】<br />
  </p>
  <p>
    【ユーザー(user_id)】<br />
    <%= @rawmaterial.user.nickname %>(<%= @rawmaterial.user.id %>)<br />
  </p>
  <hr />
  <p>
    【原材料名】<br />
    <%= @rawmaterial.name %>
  </p>
  <p>
    【原材料名(ひらがな)】<br />
    <%= @rawmaterial.hiragana %>
  </p>
  <p>
    【食材分類】<br />
    <%= @rawmaterial.foodcategory.name %>
  </p>
  <p>
    【単位】<br />
    <%= @rawmaterial.unit.name %>
  </p>
  <p>
    【消費期限】<br />
    <%= @rawmaterial.expiry_period %>日
  </p>
  <hr />
</body>
</html>
