<%= form_with(model: @ingredient, url: managers_ingredients_path, local: true) do |form| %>
  <%= render 'ingredient_form', {form: form , ingredient: @ingredient} %>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= render 'shared/back_previous' %>
<%= render 'managers/shared/back_to_home' %>
