<%= javascript_pack_tag 'users/stocks' %>
<div class="content_wrapper">
  <div class="col-10 offset-1">
    <%= render "shared/flash_messages" %>
    <%= render 'shared/error_messages', {resource: @stock} if @stock.errors.any? %>
  </div>
  <%= render 'search_form_rawmaterial' %>

  <%= form_with(model: @stock, url: users_stocks_path, local: true) do |form| %>
  <%= render 'stock_form', {form: form , stock: @stock} %>
  <div class="text-center">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
  <% end %>

  <%= render 'shared/back_previous' %>
  <%= render 'managers/shared/back_to_home' %>
</div>