<% if @search_word.present? %>
  <p><%= @search_word %> の検索結果</p>
<% end %>

<% if @cuisines.present? %>
  <% @cuisines.each do |cuisine| %>
          <div class="col-6 col-sm-6 col-md-3 align-items-xl-center px-2 mt-2 swiper-slide">
            <div class="card">
              <%= link_to cuisine_path(cuisine) do %>
                <div class="img-filter">
                  <%= image_tag cuisine.main_image.url, class: "img-fluid card-img-top w-100 d-block" %>
                </div>
              <% end %>
              <div class="card-body">
                <%= link_to cuisine_path(cuisine) do %>
                  <p class="card-title text-black-50 d-flex align-items-center"><%= cuisine.name.truncate(14) %></p>
                <% end %>
                <div id="btn-favorite-<%= cuisine.id %>">
                  <%= render partial: 'cuisines/favorite', locals: {cuisine: cuisine} %>
                </div>
              </div>
            </div>
          </div>
  <% end %>
<% else %>
  <% if @search_word.present? %>
    <p>該当するレシピはありません。</p>
  <% else %>
    <p>検索キーワードを入力してください</p>
  <% end %>
<% end%>
