<div class="row">
  <% if @search_word.present? %>
    <div class="col-12 mt-3">
      <div>
        <strong class="h4 search-word"><%= @search_word %></strong>&nbsp;の検索結果&nbsp;(<small><%= page_entries_info @cuisines %></small>)
      </div>
    </div>
  <% end %>
  <% if @cuisines.present? %>
    <%= render partial: 'cuisine', collection: @cuisines %>
    <div class="col-12 px-2 mt-2 d-flex justify-content-center">
      <%= paginate @cuisines, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm', nav_class: 'd-inline-b' %>
    </div>
    <div class="col-8 offset-2 text-center mt-2">
      <%= link_to 'もどる', 'javascript:history.back()', class: 'text-black-50' %>
    </div>
  <% else %>
    <div class="col-12 col-md-3 align-items-xl-center px-2 mt-2">
      <% if @search_word.present? %>
        <div class="text-center">
          <p>該当するレシピはありません。</p>
        </div>
      <% else %>
        <div class="text-center">
          検索キーワードを入力してください
        </div>
      <% end %>
      <div class="row">
        <div class="col-8 offset-2 text-center mt-2">
          <%= link_to 'もどる', 'javascript:history.back()', class: 'btn btn-success btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
