<div class="col-10 offset-1  col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
  <%= render "shared/flash_messages" %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group text-center">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class='actions text-center my-2'>
      <%= f.submit "ログイン", class: 'btn btn-outline-secondary btn-block'%>
    </div>
  <% end %>

  <%# render "managers/shared/links" %>

  <%# render 'managers/shared/log_in_out' %>

  <div class="text-center my-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email, value: "heascook_manager@ahk.jp"%>
    <%= f.hidden_field :password, value: "password"%>
    <%= f.submit "テスト管理者でログイン", class: "btn btn-outline-secondary btn-block"%>
    <% end %>
  </div>
  <%= render 'managers/shared/manager_new_registration' %>
</div>
