<%= javascript_pack_tag 'tops' %>
<div class="row mt-3">
  <div class="col">
    <h2 class="text-muted mb-0">和風</h2>
  </div>
  <div class="col">
    <div class="text-right d-flex justify-content-end align-items-center more-cuisine pr-2">
      <%# link_to "もっと見る", genres_search_path(id: 1), class: "text-black-50" %>
    </div>
  </div>
</div>
<div class="swiper-container js-swiper">
  <div class="no-gutters swiper-wrapper">
    <%= render partial: "cuisine", collection: @japanese_style_cuisines, as: "cuisine" %>
  </div>
  <div class="swiper-button-prev js-swiper-button-prev"></div>
  <div class="swiper-button-next js-swiper-button-next"></div>
</div>

<div class="row mt-3">
  <div class="col">
    <h2 class="text-muted mb-0">洋風</h2>
  </div>
  <div class="col">
    <div class="text-right d-flex justify-content-end align-items-center more-cuisine pr-2">
      <%# link_to "もっと見る", genres_search_path(id: 2), class: "text-black-50" %>
    </div>
  </div>
</div>
<div class="swiper-container js-swiper">
  <div class="no-gutters swiper-wrapper">
    <%= render partial: "cuisine", collection: @western_style_cuisines, as: "cuisine" %>
  </div>
  <div class="swiper-button-prev js-swiper-button-prev"></div>
  <div class="swiper-button-next js-swiper-button-next"></div>
</div>

<div class="row mt-3">
  <div class="col">
    <h2 class="text-muted mb-0">中華</h2>
  </div>
  <div class="col">
    <div class="text-right d-flex justify-content-end align-items-center more-cuisine pr-2">
      <%# link_to "もっと見る", genres_search_path(id: 3), class: "text-black-50" %>
    </div>
  </div>
</div>
<div class="swiper-container js-swiper">
  <div class="no-gutters swiper-wrapper">
    <%= render partial: "cuisine", collection: @chinese_style_cuisines, as: "cuisine" %>
  </div>
  <div class="swiper-button-prev js-swiper-button-prev"></div>
  <div class="swiper-button-next js-swiper-button-next"></div>
</div>
<%# TODO: ランキング機能を実装する %>
<div id="ranking" class="mt-2">
  <div class="row">
    <div class="col">
      <h2 class="text-muted">ランキング</h2>
    </div>
    <div class="col">
      <p class="text-right text-black-50 d-flex justify-content-end align-items-center more-cuisine pr-2">もっと見る</p>
    </div>
  </div>
  <div class="swiper-container js-swiper">
    <div class="no-gutters swiper-wrapper">
      <% @japanese_style_cuisines.each do |jsc| %>
        <div class="col-6 col-sm-6 col-md-3 align-items-xl-center px-2 mt-2 swiper-slide">
          <div class="card">
            <%= link_to cuisine_path(jsc) do %>
              <div class="img-filter">
                <%= image_tag jsc.main_image.url, class: "img-fluid card-img-top w-100 d-block" %>
              </div>
            <% end %>
            <div class="card-body">
              <%= link_to cuisine_path(jsc) do %>
                <p class="card-title text-black-50 d-flex align-items-center"><%= jsc.name.truncate(14) %></p>
              <% end %>
              <div id="btn-favorite-<%= jsc.id %>">
                <%= render partial: 'cuisines/favorite', locals: {cuisine: jsc} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-prev js-swiper-button-prev"></div>
    <div class="swiper-button-next js-swiper-button-next"></div>
  </div>
</div>
<div id="genre-and-tags" class="mt-2">
  <div class="row">
    <div class="col">
      <h2 class="text-muted">キーワード</h2>
    </div>
  </div>
  <div class="row mb-5 px-4">
    <div>
      <% @genres.each do |g| %>
        <% unless g.cuisines_count == 0%>
          <%# link_to genres_search_path(id: g.id) do %>
            <button type="button" class="btn btn-outline-secondary btn-sm mt-2">
              <%= g.name %><span class="badge badge-light text-muted"><%= g.cuisines_count %></span>
            </button>
          <%# end %>
        <% end %>
      <% end %>
      <% @tags.each do |tag| %>
        <% unless tag.taggings_count == 0 %>
          <%= link_to tag_search_path(tag_name: tag.name) do %>
            <button type="button" class="btn btn-outline-secondary btn-sm mt-2">
              <%= tag.name %><span class="badge badge-light text-muted"><%= tag.taggings_count %></span>
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
