<%= javascript_pack_tag 'tops' %>
<div class="row">
  <div class="col">
    <%= render "shared/flash_messages" %>
  </div>
</div>
<div class="keyword row mt-2">
  <div class="col-12">
    <%= render "keywords" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="h2 text-muted mb-0">和風</div>
  </div>
  <div class="col text-right d-flex justify-content-end align-items-center pr-2">
    <%= link_to 'もっと見る', keywords_path(enum_key: 'japanese'), class: 'text-black-50' %>
  </div>
</div>
<div class="swiper-container js-swiper">
  <div class="no-gutters swiper-wrapper">
    <%= render partial: "cuisine", collection: @japanese_style_cuisines, as: "cuisine" %>
  </div>
  <div class="swiper-button-prev js-swiper-button-prev"></div>
  <div class="swiper-button-next js-swiper-button-next"></div>
</div>

<div class="row mt-3">
  <div class="col">
    <h2 class="text-muted mb-0">洋風</h2>
  </div>
  <div class="col text-right d-flex justify-content-end align-items-center pr-2">
    <%= link_to 'もっと見る', keywords_path(enum_key: 'western'), class: 'text-black-50' %>
  </div>
</div>
<div class="swiper-container js-swiper">
  <div class="no-gutters swiper-wrapper">
    <%= render partial: "cuisine", collection: @western_style_cuisines, as: "cuisine" %>
  </div>
  <div class="swiper-button-prev js-swiper-button-prev"></div>
  <div class="swiper-button-next js-swiper-button-next"></div>
</div>

<div class="row mt-3">
  <div class="col">
    <h2 class="text-muted mb-0">中華</h2>
  </div>
  <div class="col text-right d-flex justify-content-end align-items-center pr-2">
    <%= link_to 'もっと見る', keywords_path(enum_key: 'chinese'), class: 'text-black-50' %>
  </div>
</div>
<div class="swiper-container js-swiper">
  <div class="no-gutters swiper-wrapper">
    <%= render partial: "cuisine", collection: @chinese_style_cuisines, as: "cuisine" %>
  </div>
  <div class="swiper-button-prev js-swiper-button-prev"></div>
  <div class="swiper-button-next js-swiper-button-next"></div>
</div>
<%# TODO: ランキング機能を実装する %>
<div id="ranking" class="mt-2">
  <div class="row">
    <div class="col">
      <h2 class="text-muted">お気に入りレシピ</h2>
    </div>
  <div class="col text-right d-flex justify-content-end align-items-center pr-2">
    <%= link_to 'もっと見る', keywords_path(enum_key: 'not-enum-ranking'), class: 'text-black-50' %>
  </div>
  </div>
  <div class="swiper-container js-swiper">
    <div class="no-gutters swiper-wrapper">
      <% @japanese_style_cuisines.each do |jsc| %>
        <div class="col-6 col-sm-6 col-md-3 align-items-xl-center px-2 mt-2 swiper-slide">
          <div class="card">
            <%= link_to cuisine_path(jsc) do %>
              <div class="img-filter">
                <%= image_tag jsc.main_image.url, class: "img-fluid card-img-top w-100 d-block" %>
              </div>
            <% end %>
            <div class="card-body">
              <%= link_to cuisine_path(jsc) do %>
                <p class="card-title text-black-50 d-flex align-items-center"><%= jsc.name.truncate(14) %></p>
              <% end %>
              <div id="btn-favorite-<%= jsc.id %>">
                <%= render partial: 'cuisines/favorite', locals: {cuisine: jsc} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-prev js-swiper-button-prev"></div>
    <div class="swiper-button-next js-swiper-button-next"></div>
  </div>
</div>
