<table class="table table-hover">
  <thead>
    <tr>
      <th class="align-middle">食材</th>
      <th class="align-middle">数</th>
      <th class="align-middle">ジャンル</th>
      <th class="align-middle"></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |st| %>
    <tr>
      <td class="align-middle"><%= st.rawmaterial.name %><br></td>
      <td class="align-middle"><%= st.quantity %><%= st.rawmaterial.unit.name %></td>
      <td class="align-middle"><%= st.rawmaterial.foodcategory.name %></td>
      <td class="align-middle text-center">
        <div>
          <%= link_to stock_path(st.id),  class: "page-link text-dark", role: "button", method: :delete do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
