<div class="content_wrapper">
  <%= render 'shared/flash_messages' %>
  <div id="heading" class="row my-2 mx-2">
    <div class="col-10 offset-1 col-lg-6">
      <h1 class="text-center text-lg-left">家にある食材</h1>
    </div>
    <div id="newStockBtn" class="col-10 offset-1 col-lg-3 offset-lg-3">
      <div class="text-center text-lg-right">
        <%= link_to new_stock_path do %>
          <button class="btn btn-success" type="button">食材を追加する</button>
        <% end %>
      </div>

    </div>
  </div>
  <% if @stocks.present? %>
    <div class="col-10 offset-1 col-lg-12 offset-lg-0">
      <%= render 'stock_list' %>
    </div>
  <% else %>
    <p class="text-center">
      まだ登録がありません
    </p>
  <% end %>
  <div class="text-center">
    <% unless @stocks_not_plan_to_consume.empty? %>
      <%= link_to 'Todayをエコ昨日で自動生成', auto_today_create_stocks_path(stock_should_consumed: @stocks_not_plan_to_consume.first), class: "btn btn-success" %>
    <% end %>
  </div>

  <br><br>
  @stocks_not_plan_to_consume:<br>
  <%= @stocks_not_plan_to_consume %>
  <br><br>
</div>
