<%= javascript_pack_tag 'stocks' %>
<div class="content_wrapper">
  <div class="col-10 offset-1 mt-2">
    <div class="page-title text-center">購入食材を追加</div>
  </div>
  <div class="col-10 offset-1 col-md-6 offset-md-3">
    <%= render "shared/flash_messages" %>
    <%= render 'shared/error_messages', {resource: @stock} if @stock.errors.any? %>
  </div>
  <div class="col-10 offset-1 col-md-6 offset-md-3">
  <%= form_with(model: @stock, url: stocks_path, local: true) do |form| %>
    <%# 検索部分 %>
    <div class="form-group row">
      <label for="keyword" id="label_keyword" class="col-12 text-center">食材名</label>
      <div class="col-12 col-md-6 offset-md-3">
        <%= form.collection_select :rawmaterial_id, @rawmaterials, :id, :name, {include_blank: '選択して下さい'}, {autofocus: true, class: "selectfa form-control"} %>
      </div>
    </div>
    <%# quantity-数量 %>
    <div class="form-group row">
      <%= form.label :quantity, class: 'col-12 text-center' %>
      <div class="input-group col-12 col-md-6 offset-md-3">
        <%= form.text_field :quantity, id: :foodstuff_quantity, class: 'form-control' %>
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div>
      </div>
    </div>
    <%# 賞味期限 %>
    <div class="text-center">
      <p>消費期限: <span id="expiry_period"></span></p>
      <small><strong>※ 消費期限の目安は冷蔵保存した場合の日数になります</strong></small>
    </div>
    <div class="text-center mt-2">
      <%= form.submit class: 'btn btn-secondary' %>
    </div>
  <% end %>
  </div>
  <div class="my-2 border border-secondary">
    <p><%= link_to "戻る", 'javascript:history.back()', class: 'btn btn-secondary' %></p>
  </div>
</div>
