<%= javascript_pack_tag 'users' %>
<div class="container-fluid" id="wrapper_container">
  <div id="settings" class="mt-2">
    <div class="row">
      <div class="col offset-md-1 offset-lg-2">
        <h2>設定</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <%= render 'shared/user_settings_sidebar' %>
      <div class="col-12 col-sm-8 col-md-7 col-lg-5 justify-content-lg-center align-items-lg-center px-2 mt-2 mb-5">
        <div id="edit-profile">
          <%= render 'shared/flash_messages' %>
          <%= render 'shared/error_messages', {resource: @user} if @user.errors.any? %>
          <h4 class="text-center">ユーザー情報</h4>
          <hr>
          <%= form_with(model: @user, url: update_profile_path, local: true, method: :put) do |f| %>
            <div class="form-group">
              <% unless @user.profile_image.blank? %>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="user-profile-image">
                    <% unless @user.profile_image.nil? %>
                      <%= image_tag @user.profile_image.url, id: 'user-avatar', size: '100x100' %>
                    <% else %>
                      <%= image_tag "no_avatar.jpg", id: 'user-avatar', class: "rounded-circle img-fluid" %>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div id="user-profile-no-image" class="d-flex  justify-content-center align-items-center">
                  <div id="no-image">
                    <%= image_tag 'no_image_100x100', id: 'user-avatar', size: '100x100' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="form-group text-center">
              <label for="profile_image" id="label-click">
                <%= f.file_field :profile_image, id: 'user-img' %>
              </label>
            </div>
            <div class="form-group">
              <label class="text-black-50" for="nickname">ニックネーム(10文字以内)</label>
              <%= f.text_field :nickname, class: "form-control", placeholder: "入力してください" %>
            </div>
            <div class="form-group">
              <label class="text-black-50" for="default_serving_count">提供人数(○人前、半角数字のみ)</label>
              <%= f.text_field :default_serving_count, class: "form-control", placeholder: "例）4" %>
            </div>
            <div class="text-center">
              <%= f.submit '更新する', class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
