<div class="content_wrapper">
  <%= render "shared/flash_messages" %>
  <%= render 'shared/error_messages', {resource: @procedure} if @procedure.errors.any? %>
  <h1>レシピの手順</h1>
  <div class="row cuisine-procedure">
    <div class="col-10 offset-1 my-2 col-sm-4 col-md-4 offset-md-0">
      <%= image_tag @cuisine.main_image.url, id: 'cuisine_image', class: 'img-fluid px-3' %>
    </div>
    <div class="col-10 offset-1 my-2 col-sm-8 col-md-8 offset-md-0">
      <strong class="">説明文</strong>
      <div id="procedure_form">
        <%= form_with(model: @procedure, url: managers_procedure_path, local: true) do |form| %>
        <%= render 'procedure_form', {form: form, procedure: @procedure} %>
        <div class="actions text-center">
          <%= form.submit "更新する", id: "submit_procedure", class: 'btn btn-secondary' %>
        </div>
        <% end %>
      </div>
      <div class="text-center">
        <p>
          <%= link_to new_managers_foodstuff_path(cuisine_id: @procedure.cuisine_id),  class: "page-link text-dark d-inline-block", role: "button" do %>
          食材を登録する
          <% end %>
        </p>
      </div>
    </div>
  </div>


  <div class="col-10 offset-1">
    <% if @registered_pds.blank? %>
    <div class="text-center">
      <p>登録がまだありません</p>
    </div>
    <% else %>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>手順</td>
        </tr>
      </thead>
      <tbody>
        <% @registered_pds.each_with_index do |rpd, idx| %>
        <tr>
          <td><%= idx + 1 %></td>
          <td><%= rpd.cooking_detail %></td>
          <td>
            <%= link_to edit_managers_procedure_path(rpd.id),  class: "page-link text-dark d-inline-block", role: "button", local: true do %>
            <i class="fas fa-pen"></i>
            <% end %>
            <%= link_to managers_procedure_path(rpd.id, action_name: "edit", current_procedure_id: @procedure.id),  class: "page-link text-dark d-inline-block", role: "button", method: :delete do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <div class="text-center">
      <p>
        <%= link_to managers_cuisine_path(@procedure.cuisine_id),  class: "page-link text-dark d-inline-block", role: "button" do %>
        <%= @cuisine.name %>のトップへ
        <% end %>
      </p>
    </div>
  </div>

  <%= link_to '料理レシピ一覧へ', managers_cuisines_path, class: 'btn btn-secondary' %>
</div>