<div class="content_wrapper">
<%= render "shared/flash_messages" %>
  <h1>レシピの手順</h1>
  <div class="row cuisine-procedure">
    <div class="col-10 offset-1 my-2 col-sm-4 col-md-4 offset-md-0">
      <%= image_tag @cuisine.main_image.url, id: 'cuisine_image', class: 'img-fluid px-3' %>
    </div>
    <div class="col-10 offset-1 my-2 col-sm-8 col-md-8 offset-md-0">
      <strong class=""><%= @cuisine.name %></strong>
      <%= render 'procedure_form', procedure: @procedure %>
    </div>
  </div>

  <% if @procedures.present? %>
  <table id="procedure-list" class="table table-borderd table-sortable my-5">
<!--
  <thead>
    <tr>
      <th>手順の説明</th>
      <th></th>
    </tr>
  </thead>
-->
    <tbody>
      <%= render 'procedure_list', procedures: @procedures %>
    </tbody>
  </table>
  <% end %>


  <br>

  <%= link_to '料理レシピ一覧へ', managers_cuisines_path, class: 'btn btn-secondary' %>
</div>
