<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 d-inline">手順の追加</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <%= link_to 'Home', managers_dashboard_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to '料理レシピ(データ一覧)', managers_cuisines_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to "#{@cuisine.name}", managers_cuisine_path(@cuisine.id), {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item active">手順の追加</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <%= form_with(model: @procedure, url: managers_procedures_path, method: :post, local: true) do |form| %>
            <div class="card-body">
              <%# HACK: 書き方を確認(怪しい) %>
              <%= render 'form', {form: form , procedure: @procedure} %>
            </div>
            <div class="card-footer">
              <%= form.submit "追加する", class: 'btn btn-secondary' %>
              <%# TODO: プレビュー画面を作成する? %>
              <div class="float-right">
                <%= link_to "確認する", managers_cuisine_path(params[:cuisine_id]),  class: "btn btn-secondary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <div>
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <% if @registered_procedures.present? %>
                    <table id="table-sortable-procedure" class="table table-striped">
                      <tbody>
                        <%= render partial: "procedure", collection: @registered_procedures, as: "procedure" %>
                      </tbody>
                    </table>
                  <% else %>
                    <div class="text-center">
                      <p>まだ登録がありません</p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
