    <nav class="navbar navbar-light navbar-expand-md">
      <%= link_to  "Coome", home_index_path, class: "navbar-brand" %>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mx-auto">
          <li class="nav-item">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend"></div><input class="form-control" type="text" placeholder="卵、チャンプルー etc...">
              <div class="input-group-append"><button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button></div>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav d-md-flex d-xl-flex ml-auto align-items-md-center align-items-xl-center">
          <%# TODO: Stock機能が完成したらのリンクを追加 %>
          <li class="nav-item d-xl-flex align-items-xl-center"><a class="nav-link  text-center" href="#">Stock</a></li>
          <li class="nav-item d-xl-flex align-items-xl-center">
            <%= link_to 'Today', todaysmenus_path, class: "nav-link text-center" %>
          </li>

          <li class="nav-item align-items-xl-center">
            <%= link_to 'Favorite', favorites_path, class: "nav-link text-center" %>
          </li>
          <li class="nav-item d-md-none align-items-xl-center">
            <%# TODO: 設定画面へのリンクを追加 %>
            <a class="nav-link text-center" href="#">設定</a>
          <li class="nav-item d-md-none align-items-xl-center">
            <% if user_signed_in? %>
            <a class="dropdown-item" href="#">ログアウト</a>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-center" %>
            <% else %>
            <%= link_to 'ログイン',tops_login_which_path, class: 'nav-link text-center' %>
            <% end %>
          </li>
          <li class="nav-item d-xl-flex align-items-xl-center">
            <!--lll-->
          </li>
          <li class="nav-item dropdown d-none d-md-block"><a class="dropdown-toggle nav-link text-center" data-toggle="dropdown" aria-expanded="false" href="#">メニュー&nbsp;</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">昨日までのレシピ</a>
              <% if user_signed_in? %>
              <%# TODO: 設定画面へのリンクを追加 %>
              <a class="dropdown-item" href="#">設定</a>
              <a class="dropdown-item" href="#">ログアウト</a>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% else %>
              <%= link_to 'ログイン',tops_login_which_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
