<div class="col-12 col-sm-4 col-md-3 offset-md-1 offset-lg-2 d-xl-flex align-items-xl-center px-2 mt-2">
  <div id="items">
    <div class="text-center">
      <% unless @user.profile_image.blank? %>
        <%= image_tag @user.profile_image.url, class: 'rounded-circle img-fluid' %>
      <% else %>
        <%= image_pack_tag 'no_avatar.jpg', class: 'rounded-circle img-fluid' %>
      <% end %>
      <% unless @user.nickname.blank? %>
        <p><%= @user.nickname %><br />さん</p>
      <% end %>
    </div>
    <div>
      <ul class="list-group mt-2">
        <li class="list-group-item">
          <span>
            <%= link_to 'ユーザー情報', user_profile_path, class: add_class_to_text(@current_page, 'users#show').to_s %>
          </span>
        </li>
        <li class="list-group-item">
          <%= link_to '退会する', user_registration_path,
                      class: 'text-black-50',
                      data: {
                        confirm: "<i class='fas fa-exclamation-circle'></i>
                    アカウントを削除します。よろしいですか?<br><small>※ お使いのアカウント情報を削除すると全てのサービスがご利用できなくなります。再度ご利用いただくには再登録していただく必要がございます。</small>",
                        cancel: 'キャンセル',
                        commit: '削除',
                        title: 'アカウント削除'
                      },
                      role: 'button',
                      method: :delete, local: true %>
          <span class="text-black-50">
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
