<tr>
  <td class="td-image text-center align-middle">
    <%= image_tag ch.cuisine.main_image.url, id: "cuisine_img", class: 'img-fluid', alt: "#{ch.cuisine.name}" %>
  </td>
  <td class="td-description text-break align-middle">
    <div>
      <div>
        <%= ch.cuisine.name %>
      </div>
      <div class="text-right">
        <time datetime="<%= ch.created_at %>">
          <small class="text-muted"><%= time_ago(ch.created_at) %>, <%= ch.cooked_when_i18n %></small>
        </time>
      </div>
    </div>
  </td>
  <td class="td-btn text-center align-middle">
    <div>
      <% if @cuisine_ids_already_in.include?(ch.cuisine_id) %>
        <%= link_to(cuisine_remove_from_todays_menus_path(ch.cuisine_id), method: :delete) do %>
          <button class="btn btn-outline-success" type="button">
            <i class="fas fa-check"></i>
          </button>
        <% end %>
      <% else %>
        <%= link_to(cuisine_add_to_todays_menu_path(ch.cuisine_id), method: :post) do %>
          <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-plus"></i>
          </button>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="td-btn text-center align-middle">
    <%= link_to(cookinghistory_path(cooking_history.id), class: 'remove-cookinghistorys-tooltip', data: {            confirm: "#{cooking_history.cuisine.name} を料理履歴から削除しますか?",
            cansel: "キャンセル",
            commit: "削除",
            title: "削除確認"}, title: '料理履歴から削除する',method: :delete) do %>
      <button class="btn btn-outline-secondary" type="button">
        <i class="far fa-trash-alt"></i>
      </button>
    <% end %>
    <div>
    </div>
  </td>
</tr>
