<%= render "shared/flash_messages" %>

<% unless user_signed_in? || manager_signed_in? %>
<p><%= link_to '管理者としてログイン',new_manager_session_path, class: 'btn btn-outline-secondary' %></p>
<p><%= link_to 'ユーザーとしてログイン',new_user_session_path, class: 'btn btn-success' %></p>
<% end %>

<% if manager_signed_in? %>

<div>
  <div id="go-to-foodcategory">
    <%= link_to '料理食材一覧画面(foodcategory#index)へ', managers_foodcategories_path, class: "btn btn-primary", role: "button" %>
  </div>
</div>

<%= render 'managers/shared/manager_log_out' %>

<% end %>

<%= render 'users/shared/user_log_out' %>
