<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>
  <a href="/" class="btn btn-success">テスト</a>
</p>
<p><%= link_to '管理者ログイン',new_manager_session_path, class: 'page-link text-dark d-inline-block' %></p>
<p><%= Time.now %></p> <% if manager_signed_in? %> <p><%= current_manager.email %></p>
<p><%= link_to 'プロフィール変更', edit_user_registration_path %></p>
<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p> <% end %>
