<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= link_to '管理者としてログイン',new_manager_session_path, class: 'page-link text-dark d-inline-block' %></p>
<p><%= link_to 'ユーザーとしてログイン',new_user_session_path, class: 'page-link text-dark d-inline-block' %></p>
<p>
  現在時刻<br/>
  <%= Time.now %><br/>
</p>

<% if manager_signed_in? %>
<%= render 'managers/common/logout' %>
<div>

  <div id="go-to-foodcategory">
    <%= link_to '料理食材一覧画面(foodcategory#index)へ', managers_foodcategories_path, class: "btn btn-primary", role: "button" %>
  </div>
</div>
<% end %>

<p>
<% if user_signed_in? %>
<p>
  <div>
    <p><%= current_user.email %></p>
    <p><%= link_to 'プロフィール変更(ユーザー)', edit_user_registration_path %></p>
    <p><%= link_to 'ログアウト(ユーザー)', destroy_user_session_path, method: :delete %></p>
  </div>
</p>
<% end %>
</p>
