<%= render "shared/flash_messages" %>

<% unless user_signed_in? || manager_signed_in? %>
<p><%= link_to '管理者としてログイン',new_manager_session_path, class: 'btn btn-outline-secondary' %></p>
<p><%= link_to 'ユーザーとしてログイン',new_user_session_path, class: 'btn btn-success' %></p>
<% end %>

<p><%= link_to '親子丼リンク',cuisine_path(1), class: 'btn btn-success' %></p>

<%= render 'managers/shared/all_crud_links' %>
<%= render 'managers/shared/manager_log_out' %>

<% if user_signed_in? %>
  <%= render 'users/shared/all_crud_links' %>
  <%= render 'users/shared/user_log_out' %>
<% end %>
