<tr id="foodstuff_<%= foodstuff.id %>">
  <td class="align-middle" style="width: 40%"><%= foodstuff.rawmaterial.name %></td>
  <td class="align-middle" style="width: 30%"><%= foodstuff.quantity %><%= foodstuff.rawmaterial.unit.name unless foodstuff.quantity.start_with?("適量", "少々", "お好みで") %></td>

  <td class="align-middle" style="width: 30%">
    <%= link_to edit_managers_foodstuff_path(foodstuff.id),
          class: "btn btn-default",
          local: true do %>
      <i class="fas fa-pen"></i>
    <% end %>
    <%= link_to managers_foodstuff_path(foodstuff.id),
      class: "btn btn-default",
      data: {
      confirm: "<i class='fas fa-exclamation-circle'></i>
        本当に「<strong>#{foodstuff.rawmaterial.name}</strong>」を削除しますか?",
        cancel: "キャンセル",
        commit: "削除",
        title: "削除確認"
      },
      method: :delete do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
