<%= form.hidden_field :rawmaterial_id, id: :foodstuff_rawmaterial_id, class: 'form-control' %>
<%# quantity-数量 %>
<div class="form-group col-10 offset-1">
  <%= form.label :quantity %>
  <div class="input-group">
    <%= form.text_field :quantity, id: :foodstuff_quantity, class: 'form-control' %>
    <div class="input-group-prepend">
      <!-- 単位表示のグレー枠でレイアウト崩れが発生する -->
      <div class="input-group-text" id="rawmaterial_measure_unit">
        <% if @rawmaterial.present? %>
        <%= @rawmaterial.unit.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= form.hidden_field :cuisine_id, id: :foodstuff_cuisine_id, class: 'form-control' %>
