<table class="table table-hover table-sm table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>料理レシピ名<br />(cuisine_id)</th>
      <th>数量</th>
      <th>単位</th>
      <th>原材料</th>
      <th>作成日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @foodstuffs.each do |fs| %>
    <tr>
      <td><%= fs.id %></td>
      <td><%= fs.cuisine.name %></td>
      <td><%= fs.quantity %></td>
      <td><%= fs.unit.name %></td>
      <td><%= fs.rawmaterial.name %></td>
      <td><%= fs.created_at %></td>
      <td><%= link_to '修正', edit_managers_foodstuff_path(fs.id),  class: "page-link text-dark d-inline-block", role: "button" %></td>
      <td><%= button_to '削除', managers_foodstuff_path(fs.id),  class: "page-link text-dark d-inline-block", role: "button", method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
