<%= render 'shared/error_messages', {resource: foodstuff} if foodstuff.errors.any? %>

  <div class="search_rawmaterial">
    <%= form_with(url: search_rawmaterial_managers_foodstuffs_path, method: :get, local: true) do |f| %>
      <%= f.label :keyword %>
      <%= f.text_field :keyword, id: :search_rawmaterial, class: 'form-control', placeholder:'追加したい食材を入力してください' %>
    <% end %>
  </div>
  <div id="search_results">
  </div>
  <%# rawmaterial_id-原材料id %>
  <div class="form-group">
    <%= form.label :rawmaterial_id %>
    <%= form.text_field :rawmaterial_id, id: :foodstuff_rawmaterial_id, class: 'form-control' %>
  </div>
  <%# quantity-数量 %>
  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :foodstuff_quantity, class: 'form-control' %>
  </div>
  <%# measure_unit-単位 %>
  <div class="form-group">
    <%= form.label :unit_id %>
    <%= form.select(:unit_id, Unit.all.map{|u| [u.name, u.id]}, {prompt: "選択してください", required: true}, {class: 'form-control'}) %>
  </div>
  <%# cuisine_id-料理レシピid %>
  <%= form.hidden_field :cuisine_id, id: :foodstuff_cuisine_id, class: 'form-control' %>
