<%= form_with(model: @foodstuff, url: managers_foodstuff_path, local: true, method: :patch) do |form| %>
  <%= render 'foodstuff_form', {form: form , foodstuff: @foodstuff} %>
  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render 'shared/back_previous' %>
<%= render 'managers/shared/back_to_home' %>
