<%= javascript_pack_tag 'managers/foodstuffs' %>
<%= render "shared/flash_messages" %>

<%= form_with(model: @foodstuff, url: managers_foodstuffs_path, local: true) do |form| %>
  <%= render 'foodstuff_form', {form: form , foodstuff: @foodstuff} %>
  <div class="text-center">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>

<%= render 'shared/back_previous' %>
<%= render 'managers/shared/back_to_home' %>
