<%= form_with(model: @cookedstate, url: managers_cookedstates_path, local: true) do |form| %>
  <%= render 'cookedstate_form', {form: form ,cookedstate: @cookedstate} %>
  <div>
    <%= form.submit class: 'btn btn-secondary' %>
    <%# form.submit '保存',class: 'btn btn-primary btn-lg my-1 mb-5 px-5' %>
  </div>
<% end %>


<%=link_to "戻る", managers_cookedstates_path, class: 'btn btn-secondary', role: 'button' %>
<%= render 'managers/shared/back_to_home' %>
