<!-- Content Header (Page header) -->

<div class="content-header">
  <div class="container-fluid">
    <div>
      <div>
        <%= render 'layouts/flash_message' %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <!-- Widget: user widget style 1 -->
      <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
<!-- TODO: デザインを修正する -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-username">データ各種</h3>
<!--
          <h5 class="widget-user-desc">Founder &amp; CEO</h5>
        -->
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @users.size %>(+ <%= @new_users.size %>)</h5>
                <span class="description-text">Users</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @favorites.size %></h5>
                <span class="description-text">Favorites</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header"><%= @mau.size %></h5>
                <span class="description-text">MAU(月間使用ユーザー数)</span>
              </div>
              <!-- /.description-block -->
            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @cuisines.size %></h5>
                <span class="description-text">Cuisines</span>
              </div>
              <!-- /.description-block -->
            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @rawmaterials.size %></h5>
                <span class="description-text">Rawmaterials</span>
              </div>
              <!-- /.description-block -->
            </div>

            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.widget-user -->
      <!-- TODO: グラフを追加する -->
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
