<%# 食材ジャンル %>
<div class="form-group">
  <%= form.label :foodcategory_id, class:'control-label' %>
  <%= form.collection_select(:foodcategory_id, Foodcategory.all, :id, :name, {prompt: "選択してください", required: true}, {class: 'form-control'}) %>
</div>

<%# 原材料名 %>
<div class="form-group">
  <%= form.label :name, class:'control-label' %>
  <%= form.text_field :name, id: :rawmaterial_name, autofocus: true, class: 'form_control' %>
</div>

<%# 原材料名(ひらがな) %>
<div class="form-group">
  <%= form.label :hiragana, class:'control-label' %>
  <%= form.text_field :hiragana, id: :rawmaterial_hiragana, autofocus: true, class: 'form_control' %>
</div>

<%# 単位id %>
<div class="form-group">
  <%= form.label :unit_id, class:'control-label' %>
  <%= form.collection_select(:unit_id, Unit.all, :id, :name, {prompt: "選択してください", required: true}, {class: 'form-control'}) %>
</div>
