<table class="table table-hover table-sm table-responsive">
  <thead>
    <tr>
      <th class="align-middle">ID</th>
      <th class="align-middle">原材料名</th>
      <th class="align-middle">食材区分名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rawmaterials.each do |rm| %>
      <tr>
        <td><%= rm.id %></td>
        <td><%= rm.name %></td>
        <td><%= rm.foodcategory.name %></td>
        <td>
          <%= link_to edit_managers_rawmaterial_path(rm.id),  class: "page-link text-dark d-inline-block", role: "button", remote: true do %>
              <i class="fas fa-pen"></i>
            <% end %>
        </td>
        <td>
          <%= button_to managers_rawmaterial_path(rm.id),  class: "page-link text-dark d-inline-block", role: "button", method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
