<h1>原材料一覧</h1>
<p><%= link_to '追加する', new_managers_rawmaterial_path, class: "btn btn-secondary", role: "button" %></p>

<%= render 'shared/flash_messages' %>

<% if @rawmaterials.present? %>
<div class="my-2 border border-secondary">
  <h3>登録済み</h3>
  <%= render 'registered_list' %>
</div>

<div class="my-2 border border-secondary">
  <h3>削除済み</h3>
  <%= render 'discarded_list' %>
</div>
<% else %>
  <p>まだ登録がありません</p>
  <%= link_to '追加する', new_managers_rawmaterial_path, class: "btn btn-secondary", role: "button" %>
<% end %>

<%= render 'managers/shared/all_crud_links' %>

<%= render 'managers/shared/back_to_home' %>
<%= render 'managers/shared/manager_log_out' %>
