<%= form_with(model: @rawmaterial, url: managers_rawmaterials_path, local: true) do |form| %>
  <%= render 'rawmaterial_form', {form: form , rawmaterial: @rawmaterial} %>
  <div>
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>

<%= render 'shared/back_previous' %>
<%= render 'managers/shared/back_to_home' %>
