<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 d-inline">食材区分の変更</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <%= link_to 'Home', managers_dashboard_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to '食材区分(データ一覧)', managers_foodcategories_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item active">食材区分の変更</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <%= form_with(model: @foodcategory, url: managers_foodcategory_path, method: :patch, local: true) do |form| %>
            <div class="card-body">
              <%# HACK: 書き方を確認(怪しい) %>
              <%= render 'form', {form: form , foodcategory: @foodcategory} %>
            </div>
            <div class="card-footer">
              <%= form.submit "変更する", class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
