<%= form_with(model: @foodcategory, url: managers_foodcategories_path, local: true) do |form| %>
  <%= render 'foodcategory_form', {form: form ,foodcategory: @foodcategory} %>
  <div>
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>


<%=link_to "戻る", managers_foodcategories_path, class: 'btn btn-secondary', role: 'button' %>
<%= render 'managers/shared/back_to_home' %>
