<h1>Managers::Foodcategories#new</h1>
<p>Find me in app/views/managers/foodcategories/new.html.erb</p>

<%= form_with(model: @foodcategory, url: managers_foodcategories_path, local: true) do |form| %>
  <%= render 'foodcategory_form', {form: form ,foodcategory: @foodcategory} %>
  <div>
    <%= form.submit %>
  </div>
<% end %>


<%=link_to "戻る", managers_ingredients_path, class: 'btn btn-secondary', role: 'button' %>
<%= render 'managers/shared/back_to_home' %>
