<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center mt-3">
        <div class="page-title m-0 d-inline">手順の変更</div>
        <div>(<%= link_to "#{@cuisine.name}", managecuisine_path(@cuisine.id) %>)</div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <%= form_with(model: @procedure, url: manageownprocedure_path, method: :patch, local: true) do |form| %>
            <%= render 'layouts/flash_message' %>
            <%= render 'shared/error_messages', {resource: @procedure} if @procedure.errors.any? %>
            <%= render 'form', {form: form , procedure: @procedure} %>
            <div class="col-10 offset-1">
            <%= form.submit "更新する", class: 'btn btn-success btn-block' %>
            </div>
            <div class="col-10 offset-1 mt-2">
              <%= link_to "確認画面へ", managecuisine_path(@cuisine.id),  class: "btn btn-outline-secondary btn-block" %>
            </div>
        <% end %>
        <!-- foodstuffs and procedure list -->
        <div class="mt-2">
          <ul class="nav nav-tabs nav-fill" role="tablist" id="fp-tab">
            <li class="nav-item" role="presentation">
              <a class="nav-link" role="tab" data-toggle="tab" href="#tab1" id="tab-foodstuff">食材</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" role="tab" data-toggle="tab" href="#tab2" id="tab-procedure">手順</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" role="tabpanel" id="tab1">
            <% if @foodstuffs.present? %>
              <table id="table-sortable-foodstuff" class="table table-bordered table-hover mt-3">
                <tbody>
                  <%= render partial: "manageownfoodstuffs/foodstuff", collection: @foodstuffs, as: "foodstuff" %>
                </tbody>
              </table>
            <% else %>
              <div class="text-center mt-3">
                <p>まだ登録がありません</p>
              </div>
            <% end %>
            </div>
            <div class="tab-pane active" role="tabpanel" id="tab2">
              <% if @procedures.present? %>
              <table id="table-sortable-procedure" class="table table-bordered table-hover mt-3">
                <tbody>
                  <%= render partial: "managecuisines/procedure", collection: @procedures, as: "procedure" %>
                </tbody>
              </table>
              <% else %>
                <div class="text-center mt-3">
                  <p>まだ登録がありません</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-md-4 offset-md-4 mt-3 text-center">
        <%= link_to 'もどる', 'javascript:history.back()', class: 'text-black-50' %>
      </div>
    </div>
  </div>
</div>
