<%= render 'shared/error_messages', {resource: cuisine} if cuisine.errors.any? %>
<div class="cuisine_form_box">
  <div class="col-lg-6">
    <%# レシピ名 %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_area :name, id: :cuisine_name, autofocus: true, class: 'form-control' %>
    </div>

    <%# お手軽度 %>
    <div class="form-group">
      <%= form.label :difficulty %>
      <%= form.select(:difficulty, Cuisine.difficulties.keys.map{|k| [I18n.t("enums.cuisine.difficulty.#{k}"), k]}, {prompt: "選択してください", required: true}, {class: 'form-control'}) %>
    </div>

    <%# 調理時間 %>
    <div class="form-group">
      <%= form.label :cooking_time %>
      <%= form.text_field :cooking_time, id: :cuisine_cooking_time, autofocus: true, class: 'form-control' %>
    </div>
    <%# 説明 %>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :cuisine_description, autofocus: true, class: 'form-control' %>
    </div>
  </div>
  <%# メイン画像 %>
  <div class="form-group col-lg-6">
    <%= form.label :main_image %>
    <% if cuisine.present? %>
    <%= image_tag cuisine.main_image.url unless cuisine.main_image.blank? %>
    <%= form.hidden_field :main_image_cache %>
    <%= form.file_field :main_image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
    <% else %>
    <% end %>
    <%# form.file_field :main_image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
  </div>
</div>
