<tr class="foodstuff" data-model_name="<%= foodstuff.class.name.underscore %>" , data-update_url="<%= sort_managers_foodstuff_path(foodstuff) %>">
  <% if Rails.env.production? %>
  <td><%= foodstuff.id %></td>
  <td><%= foodstuff.cuisine.name %></td>
  <td><%= foodstuff.row_order %></td>
  <% end %>
  <td><%= foodstuff.rawmaterial.name %></td>
  <td><%= foodstuff.quantity %><%= foodstuff.rawmaterial.unit.name %></td>
  <td>
    <%= link_to edit_managers_foodstuff_path(foodstuff.id),  class: "page-link text-dark d-inline-block", role: "button", remote: true do %>
    <i class="fas fa-pen"></i>
    <% end %>
  </td>
  <td>
    <%= link_to managers_foodstuff_path(foodstuff.id),  class: "page-link text-dark d-inline-block", role: "button", method: :delete do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
  </td>
</tr>