<tr class="foodstuff" data-model_name="<%= foodstuff.class.name.underscore %>" , data-update_url="<%= sort_managers_foodstuff_path(foodstuff) %>">
  <td><%= foodstuff.rawmaterial.name %></td>
  <td><%= foodstuff.quantity %><%= foodstuff.rawmaterial.unit.name unless foodstuff.quantity.start_with?("適量", "少々", "お好みで") %></td>
  <td>
    <% if current_manager.email == ENV['TOMAIL']%>
      <%= link_to edit_managers_foodstuff_path(id: foodstuff.id, cuisine_id: foodstuff.cuisine_id),  class: "btn btn-default btn-lg" do %>
      <i class="fas fa-pen"></i>
      <% end %>
      <%= link_to managers_foodstuff_path(foodstuff.id),  class: "btn btn-default btn-lg", method: :delete do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
    <% else %>
      <button type='button' class='btn btn-default manager-cuisine-tooltip' data-toggle='tooltip' data-placement='top' title='サイト運営者以外は変更できません' disabled><i class="fas fa-pen"></i></button>
      <button type='button' class='btn btn-default manager-cuisine-tooltip' data-toggle='tooltip' data-placement='top' title='サイト運営者以外は削除できません' disabled><i class='far fa-trash-alt'></i></button>
    <% end %>
  </td>
</tr>
