<div class="content-header">
  <div class="container-fluid">
    <div>
      <%= render 'layouts/flash_message' %>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 d-inline">料理レシピ一覧</h1>
          <%= link_to new_managers_cuisine_path, class: "btn btn-info ml-2", role: "button" do %>
            <i class="fas fa-plus"></i> 追加する
          <% end %>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <%= link_to 'Home', managers_dashboard_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item active">料理レシピ一覧(データ一覧)</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div>
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <% if @cuisines.present? %>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="align-middle">メイン画像</th>
                          <th class="align-middle"><%= sort_link(@q, :name, '料理レシピ名', default_order: :desc) %></th>
                          <th class="align-middle"><%= sort_link(@q, :cooking_time, '調理時間(分)', default_order: :desc) %></th>
                          <th class="align-middle"><%= sort_link(@q, :created_at, '登録日', default_order: :desc) %></th>
                          <th style="width: 15%;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= render partial: "cuisine", collection: @cuisines, as: "cuisine" %>
                      </tbody>
                    </table>
                  <% else %>
                    <div class="text-center">
                      <p>まだ登録がありません</p>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if @cuisines.present? %>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="example2_info" role="status" aria-live="polite"><%= page_entries_info @cuisines %>
                  </div>
                </div>
                <div class="col-sm-12 col-md-7 d-flex justify-content-center">
                  <%= paginate @cuisines, theme: 'twitter-bootstrap-4',
                                        pagination_class: "pagination-sm",
                                        nav_class: "d-inline-b"
                  %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
