<div class="content_wrapper container">
  <h1>料理レシピ一覧</h1>
  <p>
    <%= link_to new_managers_cuisine_path, class: "btn btn-secondary", role: "button" do %>
      <i class="fas fa-plus"></i> 追加する
    <% end %>
  </p>
  <%= render 'shared/flash_messages' %>
  <% if @cuisines.present? %>
    <div class="my-2">
      <%= render 'cuisines_list' %>
    </div>
  <% else %>
    <p>現在登録がありません</p>
  <% end %>
  <p>
    <%= link_to new_managers_cuisine_path, class: "btn btn-secondary", role: "button" do %>
      <i class="fas fa-plus"></i> 追加する
    <% end %>
  </p>

  <%= render 'managers/shared/all_crud_links' %>
  <%= render 'managers/shared/back_to_home' %>
  <%= render 'managers/shared/manager_log_out' %>
</div>
