<h1>料理レシピ詳細</h1>

<%= render 'shared/flash_messages' %>

<h2>料理レシピ概要</h2>
<div class="cuisine-border">
  <div>
    料理名:<%= @cuisine.name %>
  </div>
  <div>
    難易度:<%= @cuisine.difficulty_i18n %>
  </div>
  <div>
    摂取カロリー:<%= @cuisine.calories %>kcal
  </div>
  <div>
    調理時間:<%= @cuisine.cooking_time %>分
  </div>
  <div>
    レシピの説明:<%= @cuisine.description %>
  </div>
  <div>
    画像:<%= image_tag @cuisine.main_image.url, size: '70x70' %>
  </div>
  <div>
    <%= link_to '変更', edit_managers_cuisine_path(@cuisine.id),  class: "page-link text-dark d-inline-block", role: "button" %>
  </div>
</div>


<h1>レシピで使う食材</h1>
<% if @foodstuffs.present? %>
  <div class="my-2 border border-secondary">
    <table class="table table-hover table-sm table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>料理レシピ名<br />(cuisine_id)</th>
          <th>数量</th>
          <th>原材料</th>
          <th>部位名</th>
          <th>加工された<br />状態の名前</th>
          <th>作成日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'managers/cuisines/foodstuff', collection: @foodstuffs, as: "foodstuff" %>
      </tbody>
    </table>
  </div>
  <p><%= link_to '追加する', new_managers_foodstuff_path, class: "btn btn-secondary", role: "button" %></p>
<% else %>
  <p>登録はまだありません</p>
  <%= link_to '追加する', new_managers_foodstuff_path, class: "btn btn-secondary", role: "button" %>
<% end %>


<%# <h2>料理の手順</h2> %>
<%# render partial: 'managers/cuisines/foodstuff', collection: @foodstuffs, as: "foodstuff" %>
<h1>レシピの手順</h1>

<% if @procedures.present? %>
<div class="my-2 border border-secondary">
  <table class="table table-hover table-sm table-responsive table-sortable-procedure">
    <thead>
      <tr>
        <th>ID</th>
        <th>料理レシピ名<br />(cuisine_id)</th>
        <th>料理手順の詳細</th>
        <th>順番</th>
        <th>作成日</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'managers/cuisines/procedure', collection: @procedures, as: "procedure" %>
    </tbody>
  </table>
</div>
<p><%= link_to '追加する', managers_procedures_path(id: @cuisine.id), class: "btn btn-secondary", role: "button" %></p>
<% else %>
  <p>登録はまだありません</p>
  <%= link_to '追加する', managers_procedures_path(id: @cuisine.id), class: "btn btn-secondary", role: "button" %>
<% end %>


<%= render 'managers/shared/all_crud_links' %>
<%= render 'managers/shared/back_to_home' %>
<%= render 'managers/shared/manager_log_out' %>
