<%= javascript_pack_tag 'managers/cuisines' %>
<%# FIXME: デザインの修正 %>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 d-inline">料理レシピ</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-right">
          <li class="breadcrumb-item">
            <%= link_to 'Home', managers_dashboard_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to '料理レシピ', managers_cuisines_path, {class: "text-muted"} %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to "#{@cuisine.name}", managers_cuisine_path(@cuisine.id), {class: "text-muted"} %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="card card-solid">
    <div class="card-body">
      <%= render 'layouts/flash_message' %>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="col-12">
            <% if @cuisine.main_image.url.present? %>
            <%= image_tag @cuisine.main_image.url, class: 'img-fluid' %>
            <% else %>
              まだ登録がありません。
            <% end %>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="d-sm-none d-lg-block"><%= @cuisine.name %></h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td style="width: 30%;">レシピ名</td>
                <td><%= @cuisine.name %></td>
              </tr>
              <tr>
                <td style="width: 30%;">難易度</td>
                <td><%= @cuisine.difficulty_i18n %></td>
              </tr>
              <tr>
                <td style="width: 30%;">調理時間</td>
                <td><%= @cuisine.cooking_time %>分</td>
              </tr>
              <tr>
                <td style="width: 30%;">レシピの説明</td>
                <td><%= @cuisine.description %></td>
              </tr>
              <!--PRIMARY: タグ機能を作り直す-->
              <tr>
                <td style="width: 30%;">タグ</td>
                <td>
                  <%# @cuisine.tag_list.each do |tag| %>
                    <span class="badge badge-light text-muted">
                      <%# tag %>
                    </span>
                  <%# end %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mt-3">
            <div class="text-center">
              <%= link_to edit_managers_cuisine_path(@cuisine.id),  class: "btn btn-default btn-lg" do %>
                <i class="fas fa-pen"></i>&nbsp;変更
              <% end %>
              <%= link_to managers_cuisine_path(@cuisine.id),  class: "btn btn-default btn-lg", method: :delete do %>
                <i class="far fa-trash-alt"></i>&nbsp;削除
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-secondary card-tab mt-4">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">食材</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">手順</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>材料</th>
                    <th>数量</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: 'managers/cuisines/foodstuff', collection: @foodstuffs, as: "foodstuff" %>
                </tbody>
              </table>
              <hr>
              <div class="float-left">
                <%= link_to new_managers_foodstuff_path(cuisine_id: @cuisine.id), class: "btn btn-secondary", role: "button" do %>
                  <i class="fas fa-plus"></i>&nbsp;追加
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                Mauris tincidunt 2
                <hr>
                追加する
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






















<div class="content_wrapper container">

  <div class="col-md-8 offset-md-2 mt-3">
    <%# タブ部分 %>
    <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item" role="presentation">
        <a href="#foodstuffs" id="foodstuffs-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="foodstuffs" aria-selected="true">食材</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#procedure" id="procedure-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="procedure" aria-selected="false">手順</a>
      </li>
    </ul>
    <%# パネル部分%>
    <div id="myTabContent" class="tab-content mt-2">
      <%# パネル1 %>
      <div id="foodstuffs" class="tab-pane active" role="tabpanel" aria-labelledby="foodstuffs-tab">
        <% if @foodstuffs.present? %>
          <p>
            <div class="text-center">
              <%= link_to new_managers_foodstuff_path(cuisine_id: @cuisine.id), class: "btn btn-secondary", role: "button" do %>
                <i class="fas fa-plus"></i> 追加する
              <% end %>
            </div>
          </p>
        <table id="table-sortable-foodstuff" class="table table-hover table-sm table-responsive">
          <thead>
            <tr>
              <% if Rails.env.production? %>
              <th>ID</th>
              <th>料理レシピ名<br />(cuisine_id)</th>
              <th>index<br>(row_order)</th>
              <% end %>
              <th class="col-4">原材料</th>
              <th class="col-4">数量</th>
              <th class="col-2"></th>
              <th class="col-2"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'managers/cuisines/foodstuff', collection: @foodstuffs, as: "foodstuff" %>
          </tbody>
        </table>
        <% else %>
        <p>登録はまだありません</p>
        <% end %>
        <p>
          <div class="text-center">
            <%= link_to new_managers_foodstuff_path(cuisine_id: @cuisine.id), class: "btn btn-secondary", role: "button" do %>
              <i class="fas fa-plus"></i> 追加する
            <% end %>
          </div>
        </p>
      </div>
      <%# パネル2 %>
      <div id="procedure" class="tab-pane" role="tabpanel" aria-labelledby="procedure-tab">
        <% if @procedures.present? %>
          <p>
            <div class="text-center">
              <%= link_to new_managers_procedure_path(cuisine_id: @cuisine.id), class: "btn btn-secondary", role: "button" do %>
                <i class="fas fa-plus"></i> 追加する
              <% end %>
            </div>
          </p>
          <table id="table-sortable-procedure" class="table table-hover table-sm table-responsive">
            <thead>
              <tr>
                <% if Rails.env.production? %>
                <th>ID</th>
                <th>料理レシピ名<br />(cuisine_id)</th>
                <th>順番(idx)</th>
                <th>作成日</th>
                <% end %>
                <!--
                <th>料理手順の詳細</th>
                -->
                <th class="col-8"></th>
                <th class="col-2"></th>
                <th class="col-2"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'managers/cuisines/procedure', collection: @procedures, as: "procedure" %>
            </tbody>
          </table>
        <% else %>
          <div class="text-center">
            <p>登録はまだありません</p>
          </div>
        <% end %>
        <p>
          <div class="text-center">
            <%= link_to new_managers_procedure_path(cuisine_id: @cuisine.id), class: "btn btn-secondary", role: "button" do %>
              <i class="fas fa-plus"></i> 追加する
            <% end %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
