<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    "#{controller.controller_path}", media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid">
      <%# navbar %>
      <%= render 'shared/user_navbar' %>
      <%# flash message %>
      <%# for filepath, time %>
      <% if Rails.env.development? %>
      <%# if Rails.env.production? %>
        <%= render 'shared/disp_file_path' %>
        <%= render 'shared/disp_time' %>
      <% end %>
      <%# メインコンテンツ %>
      <div class="main-contents d-flex flex-column mb-auto">
        <%= yield %>
      </div>
    </div>
    <%# footer %>
    <%= render 'shared/user_footer' %>
  </body>
</html>
