    <!DOCTYPE html>
    <html lang="ja">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webapp</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
      </head>
      <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render 'shared/disp_file_path' if Rails.env.development? %>
        <%= yield %>
        <p>
          <%= Rails.root %>
        </p>
      </body>
    </html>
