<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body id="<%= action_name %>-<%= controller_path.gsub('/', '-') %>" data-controller="<%= controller_path %>" data-action="<%= action_name %>">
  <%= render 'shared/user_navbar' %>
      <div class="container-lg">
        <main>
          <%= yield %>
        </main>
        <footer class="page-footer font-small">
          <div class="footer-copyright text-center py-2">
            <%= link_to("© 2021 #{@app_name}", root_path, { class: "text-secondary"}) %>
          </div>
        </footer>
      </div>
  </body>
</html>
