<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body id="<%= action_name %>-<%= controller_path.gsub('/', '-') %>" data-controller="<%= controller_path %>" data-action="<%= action_name %>">
  <%= render 'shared/user_navbar' %>
    <div class="container-fluid">

      <%# flash message %>
      <%# for filepath, time %>
      <% if Rails.env.development? %>
      <%# if Rails.env.production? %>
        <%= render 'shared/disp_file_path' %>
        <%# render 'shared/disp_time' %>
      <% end %>
      <%# メインコンテンツ %>
      <main>
        <%= yield %>
      </main>
    </div>
    <%# footer %>
    <%= render 'shared/user_footer' %>
  </body>
</html>
