<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <%# TODO: data属性が特定のページで反映されない
              managers/cuisines/show.html.erb,
              http://localhost:3000/managers/cuisines/2 %>
  <body id="<%= action_name %>-<%= controller_path.tr('/', '-') %>" data-controller="<%= controller_path %>" data-action="<%= action_name %>">
    <nav class="navbar navbar-light bg-secondary">
      <div class="col text-center">
        <a class="navbar-brand" href="#"><%= @app_name %>(管理者)</a>
      </div>
    </nav>
    <div class="container-lg">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
